body {
    font-family: 'Roboto', sans-serif;
}

.pages {
    width: 1024px;
    margin: 0 auto;
    display: flex;
}


.table-of-contents {
    flex: 0 0 auto;
    width: calc((100% - 1448px) / 2 + 298px);
    display: flex;
    z-index: 15;
    min-width: 298px;
    background: #F5F7F9;
    align-items: stretch;
    border-right: 1px solid #E6ECF1;
    padding-left: calc((100% - 1448px) / 2);
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.table-of-contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.table-of-contents ul > li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: inherit;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    padding: 7px 24px 7px 16px;
    position: relative;
    align-items: center;
    border-right: 0;
    text-decoration: none;
    -webkit-box-align: center;
}

.table-of-contents ul > li[data-depth="2"] a {
    padding-left: 32px;
}

.table-of-contents ul > li a:hover,
.table-of-contents ul > li a:active {
    background-color: #E6ECF1;
}

.content {
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    padding: 0;
    max-width: 100%;
    min-width: 0;
    background: #fff;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.content-inner {
    flex: 1 1 auto;
    display: block;
    max-width: 750px;
    min-width: 0;
    padding-bottom: 64px;
    margin: 0px 88px;
}

code {
    display: inline-block;
    font-size: 85%;
    font-family: "Source Code Pro", Menlo, monospace;
    background-color: rgb(245, 247, 249);
    -webkit-box-decoration-break: clone;
    margin: 0px 1px;
    padding: 3px 6px;
    border-radius: 3px;
}

/* Code */
pre {
    font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
    clear: both;
    background: #f5f5f5;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    min-width: 100px;
    max-width: 100%;
    overflow: hidden;
}

pre > code.hljs {
    scrollbar-color: #666 #201c29;
    background: 0 0;
    padding: 15px 20px 12px 22px;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    font-size: 14px;
    line-height: 1.75;
}